<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573056452185-usm6lmkd5fdicsgl51hi1p9bn09koaif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573056452185-usm6lmkd5fdicsgl51hi1p9bn09koaif</string>
	<key>API_KEY</key>
	<string>AIzaSyBHSmTNh__8ZXPrTnXLXiLYRXNfLv2sa_w</string>
	<key>GCM_SENDER_ID</key>
	<string>573056452185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.knockknock</string>
	<key>PROJECT_ID</key>
	<string>knock-knock-product</string>
	<key>STORAGE_BUCKET</key>
	<string>knock-knock-product.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573056452185:ios:657ab31f73eefec2129348</string>
</dict>
</plist>